extends common/layout

block layout-content
    .main-content 
        h1.page-title Welcome to your Real Estate Admin Dashboard.
        ul
            li: a(href="/views/properties")  Manage Properties
            li: a(href="/views/agents")  Manage Agents